* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: rgb(58, 179, 231);
}
#shivam , #vishnu, #naman , #varun, #rahul, #rohan{
    background-color: black;
}
.shivam img {
    width: 100%;
    /* height: 50vh; */
    padding: 7% 15%;
}
@media (max-width: 1024) {
    img{
        max-height: 90vh;
    }
}
.vishnu img{
    padding: 7% 15%;
}
.naman img, .varun img, .rahul img , .rohan img{
    padding: 7% 15%;
    width: 100%;
}
/* .varun img{
    width: 90%;
    height: 50%;
    padding: 7% 15%;
} */
#footer{
    color: #fff;
    background-color: black;
}